@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');



:root {
    --green: #65ffa2;
    --dark-green: #72e7a1;
    --blue: #8fdaff;
    --dark-blue: #0e92d4;
    --white: #ffffff;
    --gray: #0c0c0c;
    --primary-font: 'Neotriad Regular', serif;
    --secondary-font: "Figtree", system-ui;
}

@font-face {
    font-family: 'Neotriad Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Neotriad Regular'), url('./fonts/Neotriad-BF64f472e65d8f5.woff') format('woff');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-x: hidden;  <-- REMOVED THIS LINE */
    scroll-behavior: smooth;
}

title{
    font-family: var(--primary-font);
}

body{
    background: url("/assets/background-2.png");
    overflow-x: hidden;    
}

.linear-bg{
    background: linear-gradient(to bottom, #0c0c0c 0%,#0c0c0c7f 50%, #0c0c0c00 100%);
}

/* Content Layer */
.content {
    position: relative;
    z-index: 3; /* On top of all layers */
}

/* shadow css  */
.ShadowBlur{
    transition: all 0.3s ease-in;
}

.ShadowBlur:hover{
    color: var(--green);
    font-weight: bold;
    background-color: var(--gray);
    -webkit-box-shadow: 0px 0px 12px 8px #44a86c80;
    -moz-box-shadow: 0px 0px 12px 8px #44a86c80;
    box-shadow: 0px 0px 12px 8px #44a86c80;
}

.ImgShadow{
    -webkit-box-shadow: 0px 0px 12px 0px rgba(83, 206, 134, 0.8);
    -moz-box-shadow: 0px 0px 12px 0px rgba(83, 206, 134, 0.8);
    box-shadow: 0px 0px 16px 0px rgba(83, 206, 134, 0.8);
}

.ShadowLarge{
    -webkit-box-shadow: 0px 0px 70px 0px rgba(83, 206, 134, 0.8);
    -moz-box-shadow: 0px 0px 70px 0px rgba(83, 206, 134, 0.8);
    box-shadow: 0px 0px 70px 0px rgba(83, 206, 134, 0.8);
}

.CardShadow{
    -webkit-box-shadow: 0px 0px 20px 0px rgba(83, 206, 134, 0.8);
    -moz-box-shadow: 0px 0px 20px 0px rgba(83, 206, 134, 0.8);
    box-shadow: 0px 0px 20px 0px rgba(83, 206, 134, 0.8);
}

.BoxShadow{
    -webkit-box-shadow: 0px 0px 6px 0px rgba(83, 206, 134, 0.9);
    -moz-box-shadow: 0px 0px 6px 0px rgba(83, 206, 134, 0.9);
    box-shadow: 0px 0px 6px 0px rgba(83, 206, 134, 0.9);
}

/* Tab button  */
.tab-button{
    transition: all 0.6s ease;
}

/* active tab  */
.active-tab {
    background-color: var(--dark-green) !important;
    color: var(--gray) !important;
    border-color: var(--dark-green) !important;
    transition: all 0.3s ease;
  }


/* underline animation */
.underline-animate{
    text-decoration: none;
}

.underline-animate::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: currentColor;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.3s ease-out;
}

.underline-animate:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* event lineup page*/
.custom-glow{
    transition: all 0.3s ease;
}

.custom-glow:hover{
    background-color: #EDE7E7;
    color: #3b5704;
    -webkit-box-shadow:0px 0px 26px 2px rgba(46,255,53,0.73);
    -moz-box-shadow: 0px 0px 26px 2px rgba(46,255,53,0.73);
    box-shadow: 0px 0px 26px 2px rgba(46,255,53,0.73);
}


/* text shadow  */

.textShadow{
    text-shadow: 1px 4px #14ff00;
}

.textShadow-sm{
    text-shadow: 1px 2px var(--dark-green);
}

.textShadow-md{
    text-shadow: 1px 3px var(--dark-blue);
}